{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Change Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{user.username}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Back to Profile</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
      <p class="alert alert-success">Password Changed Successfully</p>
  </div>
 </div>
</div>
{% endblock main-content %}